.customized-message-item {
  position: relative;
}

.sendbird_dropdown_menu {
  padding: 0px;
  margin: 0px 22rem;
  box-shadow: var(--sendbird-light-shadow-02);
  background-color: var(--sendbird-light-background-50);
  min-width: 140px;
  padding: 8px 0px;
  border-radius: 4px;
  list-style: none;
}

.user-message__text-area {
  margin: 0px;
  border-radius: 4px;
}

.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.MuiInputBase-multiline.MuiFilledInput-multiline {
  background-color: white;
  box-shadow: var(--sendbird-light-shadow-02);
}
.voting-message .MuiCardContent-root {
  padding-top: 0px;
}

.voting-message .MuiCardContent-root .MuiTypography-root.MuiTypography-body2 {
  font-weight: 550;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.43;
  letter-spacing: -0.01071em;
  border-left: 2px solid var(--sendbird-iconbutton-color);
  padding-left: 10px;
}

#total-votes-text {
  font-weight: bold;
  display: inline;
  font-size: 0.8rem;
}

#option-number-text {
  font-weight: bold;
  display: inline;
}

#options-wrapper {
  font-weight: initial;
}

#add-options-btn,
#delete-btn,
#vote-btn,
#option-submit-btn,
#option-cancel-btn {
  border-radius: 5px;
  border: 1px solid var(--sendbird-iconbutton-color);
  padding: 3px 6px;
  cursor: pointer;
  background-color: var(--sendbird-iconbutton-color);
  font-weight: bold;
  color: white;
}

#option-submit-btn,
#option-cancel-btn {
  margin-top: 10px;
  margin-right: 5px;
}

#add-options-btn {
  margin-top: 10px;
}
#vote-btn {
  margin-right: 5px;
}

#option-vote-count {
  margin: 0;
}

#option-form,
#option-title {
  margin-top: 10px;
  margin-bottom: 0;
}

/* 
#option-form{
  border-bottom: 2px solid var(--sendbird-iconbutton-color);
  border-top: 2px solid var(--sendbird-iconbutton-color);
  padding-bottom: 20px;
  padding-top: 20px;
  width: 20rem;
} */

#vote-button-wrap {
  display: inline-block;
}

#vote-buttons-wrapper {
  margin-top: 10px;
}
